/auto-save-list/.saves-10727-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-10932-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-11080-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-1625-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-1871-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-1880-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-1920-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-1979-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-2024-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-2075-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-2107-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-2533-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-2656-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-2768-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-3214-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-3667-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-5514-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-7019-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-7212-mortenlp-ThinkPad-SL510~
/backups/!etc!X11!cursors!core.theme~
/backups/!etc!X11!cursors!oxy-white.theme~
/backups/!home!mortenlp!.bashrc~
/backups/!home!mortenlp!.bbdb~
/backups/!home!mortenlp!.conkyrc~
/backups/!home!mortenlp!.emacs.d!3rd-party!themes!color-theme-gnome-3-adwaita.el~
/backups/!home!mortenlp!.emacs.d!3rd-party!themes!color-theme-wombat-modified.el~
/backups/!home!mortenlp!.emacs.d!Setup.org~
/backups/!home!mortenlp!.emacs.d!Symlinks.org~
/backups/!home!mortenlp!.emacs.d!bindings.el~
/backups/!home!mortenlp!.emacs.d!colors.el~
/backups/!home!mortenlp!.emacs.d!custom.el~
/backups/!home!mortenlp!.emacs.d!emacs_abbrev.el~
/backups/!home!mortenlp!.emacs.d!full-ack.el~
/backups/!home!mortenlp!.emacs.d!general.el~
/backups/!home!mortenlp!.emacs.d!gnus~
/backups/!home!mortenlp!.emacs.d!guess-language.el~
/backups/!home!mortenlp!.emacs.d!latexstuff.el~
/backups/!home!mortenlp!.emacs.d!my-bindings.el~
/backups/!home!mortenlp!.emacs.d!my-colors.el~
/backups/!home!mortenlp!.emacs.d!my-dot-emacs.el~
/backups/!home!mortenlp!.emacs.d!my-dot-gnus.el~
/backups/!home!mortenlp!.emacs.d!my-dot-news-rc-eld.el~
/backups/!home!mortenlp!.emacs.d!my-dot-news-rc.el~
/backups/!home!mortenlp!.emacs.d!my-emms.el~
/backups/!home!mortenlp!.emacs.d!my-latexstuff.el~
/backups/!home!mortenlp!.emacs.d!my-orgmode.el~
/backups/!home!mortenlp!.emacs.d!org-contacts.el~
/backups/!home!mortenlp!.emacs.d!orgmode.el~
/backups/!home!mortenlp!.emacs.d!themes!color-theme-mac-classic.el~
/backups/
/auto-save-list/.saves-7125-mortenlp-ThinkPad-SL510~
/auto-save-list/.saves-1645-mortenlp-ThinkPad-SL510~
*~
/tramp
/custom.el
/my-dot-newsrc-eld
/.org-id-locations
/url/cache/mortenlp/http/com/google/maps/02c8214deeb26d5e0952a0bd9db2cf85
/url/cache/mortenlp/http/com/google/maps/03c1090000d45faab7b5810427d006c0
/url/cache/mortenlp/http/com/google/maps/03eabdef2d82e764ce462c0e83756c98
/url/cache/mortenlp/http/com/google/maps/0518c0cb465563dc37fb1d49d7a44c60
/url/cache/mortenlp/http/com/google/maps/0633bcef216e5500bf9c593821518a56
/url/cache/mortenlp/http/com/google/maps/0810b896b8ea7bbf6278f8a285772a9d
/url/cache/mortenlp/http/com/google/maps/0a6b18ec27f3f4fa72b40845fb36a870
/url/cache/mortenlp/http/com/google/maps/0ba5053ca4a57ca9a5ffd73557b19362
/url/cache/mortenlp/http/com/google/maps/0bc044d03030be9fe2cf29c2ab294508
/url/cache/mortenlp/http/com/google/maps/0f41e2aad4841e661b81c882e075e08b
/url/cache/mortenlp/http/com/google/maps/11185ea5701732fb0e0cfc3ceabd616b
/url/cache/mortenlp/http/com/google/maps/16349f1de3923381b131ae2aad10c05f
/url/cache/mortenlp/http/com/google/maps/18f1230de60e67eee663af174717769d
/url/cache/mortenlp/http/com/google/maps/19c833ba6486034e94906587f8fe7397
/url/cache/mortenlp/http/com/google/maps/1b534377069621c63e2d8fa603aeb445
/url/cache/mortenlp/http/com/google/maps/2107039730fe4a5478703ba257c66c09
/url/cache/mortenlp/http/com/google/maps/23d8af5754b6e40f1b63792453cb2f5a
/url/cache/mortenlp/http/com/google/maps/29abb6b2e4f420af3bde739199b5110c
/url/cache/mortenlp/http/com/google/maps/2ae5830d8408d0c463c4962efbd4bdeb
/url/cache/mortenlp/http/com/google/maps/2cf4d38fcf2793477584c7f97faa62dc
/url/cache/mortenlp/http/com/google/maps/2eceb30058da323e04fd30e606481dab
/url/cache/mortenlp/http/com/google/maps/2ed6514497c132c984a93680fe07cc01
/url/cache/mortenlp/http/com/google/maps/319f3c19c66a8771f9c7b80dd44a6604
/url/cache/mortenlp/http/com/google/maps/324744a1834a8fbe5fd54bd912dc90cf
/url/cache/mortenlp/http/com/google/maps/324b5a701a24315ef7e92ab4cd22e528
/url/cache/mortenlp/http/com/google/maps/334942803c64f3dd90de98c69ab45353
/url/cache/mortenlp/http/com/google/maps/33de6aef56fa32a3de1c1091f9175738
/url/cache/mortenlp/http/com/google/maps/3ae50c7bc61d7abfccffb42693f9c170
/url/cache/mortenlp/http/com/google/maps/3c56d683e6a496b62810a4061cb18f05
/url/cache/mortenlp/http/com/google/maps/3cc58b2474efbc0f6ee809295adbce09
/url/cache/mortenlp/http/com/google/maps/3d34b9822ec08b55c257fabfba8f8393
/url/cache/mortenlp/http/com/google/maps/3e57b26ab69a6523fb4f8508aa72c428
/url/cache/mortenlp/http/com/google/maps/409c3b4760f04a1b5ba1af1223e46f97
/url/cache/mortenlp/http/com/google/maps/412258c609d2b2e914a406aad369720f
/url/cache/mortenlp/http/com/google/maps/422daedbe1250495286315ed363d43b3
/url/cache/mortenlp/http/com/google/maps/423fff52a760d6f1086a4b506f38ee86
/url/cache/mortenlp/http/com/google/maps/42b30f33bd66f600d23a79c8ed1225b2
/url/cache/mortenlp/http/com/google/maps/42eeaccbcd092e42c4ce0cb7c041226e
/url/cache/mortenlp/http/com/google/maps/43929caba63236aab7cd1fd4d078db5b
/url/cache/mortenlp/http/com/google/maps/44ec0db9ecc15c3fcadb8407fa52b8a8
/url/cache/mortenlp/http/com/google/maps/4714028e89d2f3cad0d08035f9e7fab7
/url/cache/mortenlp/http/com/google/maps/4f4852c95eee81e0733d512e72ac8744
/url/cache/mortenlp/http/com/google/maps/500c32dbed93d32fa01404dbc4737928
/url/cache/mortenlp/http/com/google/maps/5184f40217a4a54a0bf6524c2bdaf87b
/url/cache/mortenlp/http/com/google/maps/54bc708753d277c926e853d330431e2e
/url/cache/mortenlp/http/com/google/maps/55596c5ef941f2a0c3bd77ba08656058
/url/cache/mortenlp/http/com/google/maps/559dae6acb1c3efeccc14d30c15c7f82
/url/cache/mortenlp/http/com/google/maps/5984f6217c50a33acc5d0ecb0d66d1f7
/url/cache/mortenlp/http/com/google/maps/5a6119868927ea6d203058e57ac4578e
/url/cache/mortenlp/http/com/google/maps/5cea4750f484f97fc827fa6a97b1a4ad
/url/cache/mortenlp/http/com/google/maps/639eea6036fd53bababc6aa1f4df9c21
/url/cache/mortenlp/http/com/google/maps/66a5f38b38998b4c598268030ffb04ca
/url/cache/mortenlp/http/com/google/maps/690c614245c0f0bb2967b91877f45b2b
/url/cache/mortenlp/http/com/google/maps/6ce1a73f3c12ab0e6244d1f4f2a97fe5
/url/cache/mortenlp/http/com/google/maps/6cec9aed8b2210f32f0cd2dbc0c71579
/url/cache/mortenlp/http/com/google/maps/6e4c34f4d57455710ce6e7f01db976ec
/url/cache/mortenlp/http/com/google/maps/6f2a728461f0f3de64714e492f58bbb0
/url/cache/mortenlp/http/com/google/maps/6f4b12d90063a7f2e6d5ab2e29bc06d7
/url/cache/mortenlp/http/com/google/maps/70dbd73e838f0f1b4790490121915c6e
/url/cache/mortenlp/http/com/google/maps/71945ea3d153af555f132b26f12fc76b
/url/cache/mortenlp/http/com/google/maps/7267ed9e4461400aa1af100791374666
/url/cache/mortenlp/http/com/google/maps/73f243c4281612d1a7e9a0ffeb671b17
/url/cache/mortenlp/http/com/google/maps/74315af328d6fc35e14f6012842bc4ce
/url/cache/mortenlp/http/com/google/maps/75ef46c72581aacebda26b4f60245931
/url/cache/mortenlp/http/com/google/maps/7a7f2da0550c01c250b17095c12de7d6
/url/cache/mortenlp/http/com/google/maps/7cc64b9ff36b0051e152d906278f28e7
/url/cache/mortenlp/http/com/google/maps/7de5ea869808b1d5d9110af5a68e2a44
/url/cache/mortenlp/http/com/google/maps/7f48a993e787e6519701353774b59977
/url/cache/mortenlp/http/com/google/maps/84f0d965e8c357e57abe1ce158545d38
/url/cache/mortenlp/http/com/google/maps/85c869ad323df71c783047022fd28899
/url/cache/mortenlp/http/com/google/maps/87167b7628a995d4147ffd4b0d8a4048
/url/cache/mortenlp/http/com/google/maps/88c5b5e8279102e6f6b95637c828c820
/url/cache/mortenlp/http/com/google/maps/8d03d8e9499d85eb4a33da10739202a6
/url/cache/mortenlp/http/com/google/maps/8dfa20d7377f5f0df80991aeefb70bca
/url/cache/mortenlp/http/com/google/maps/8e6f0646beae1d31a2413915b047e6e0
/url/cache/mortenlp/http/com/google/maps/911e177194e72cabfe549fe80879ea81
/url/cache/mortenlp/http/com/google/maps/91bbdbb24b8b207f0f0aa124bf94f37d
/url/cache/mortenlp/http/com/google/maps/92983005e1dbf02b0ebc244b9856cfb1
/url/cache/mortenlp/http/com/google/maps/95dd2b18826e8846eefa38a3d17afc36
/url/cache/mortenlp/http/com/google/maps/97bfd84bf70483dbf424f4279730178a
/url/cache/mortenlp/http/com/google/maps/97e96301b13ec10899a40d4f98ec4db5
/url/cache/mortenlp/http/com/google/maps/99daf33cb079d9b6da4ac508223480f6
/url/cache/mortenlp/http/com/google/maps/99fe00071862af14bf8e9e94f4340365
/url/cache/mortenlp/http/com/google/maps/9b7206c151b20d66fbef83deb20e954c
/url/cache/mortenlp/http/com/google/maps/9cbfc9f887a694ae16e780271b6a5a2b
/url/cache/mortenlp/http/com/google/maps/a837d03d28fabe68213dcc203461d481
/url/cache/mortenlp/http/com/google/maps/a88be7a6444e2475e8f8b7c7c2ed9d68
/url/cache/mortenlp/http/com/google/maps/aa1953abc4173a6a19594ed498af7ccc
/url/cache/mortenlp/http/com/google/maps/af375498da23caece07cec69e4a53a50
/url/cache/mortenlp/http/com/google/maps/b04461ee635b7da6e88d84108f6c4b64
/url/cache/mortenlp/http/com/google/maps/b1be693973a09fdfce484663c1f6f125
/url/cache/mortenlp/http/com/google/maps/b511a887f862b81c9367995497341880
/url/cache/mortenlp/http/com/google/maps/b6e95ab184422aaef72ad2787959e887
/url/cache/mortenlp/http/com/google/maps/b91b883057e21e3b3555c2a4f77bcdf5
/url/cache/mortenlp/http/com/google/maps/ba4950c3a2cfb2ff248f3466568b52f7
/url/cache/mortenlp/http/com/google/maps/bba21c8dd8d33d8683f66a6e6ed14872
/url/cache/mortenlp/http/com/google/maps/bd548b0d4fb3060108b534ef18cd5e93
/url/cache/mortenlp/http/com/google/maps/bd6275d822a39491e3499cf9dd1da0f1
/url/cache/mortenlp/http/com/google/maps/c0944d9302451bfa93103a17e7ed3db1
/url/cache/mortenlp/http/com/google/maps/c4db3a3560356b5b1defb06614e412e5
/url/cache/mortenlp/http/com/google/maps/c57849d3518f19a1bbd5a02d6fc90a85
/url/cache/mortenlp/http/com/google/maps/c6449079fab12c2e06cb574ed496eabd
/url/cache/mortenlp/http/com/google/maps/c7b0eeee928021255af6a3e52798ccbd
/url/cache/mortenlp/http/com/google/maps/c9f575e99221f477b8ff5397aa7b0bf6
/url/cache/mortenlp/http/com/google/maps/cb1c44a4857057b9518dcf65bd41f704
/url/cache/mortenlp/http/com/google/maps/df6ac4041d65b39caa4a833ad744c1fb
/url/cache/mortenlp/http/com/google/maps/e000ce7720c72eb1deb200cf3ca6ee57
/url/cache/mortenlp/http/com/google/maps/e176c6ff260182dc09545e95b84f148b
/url/cache/mortenlp/http/com/google/maps/e2218d8a9d5130b17c122e45357ee003
/url/cache/mortenlp/http/com/google/maps/e45d90d24f2413dc20f536d5340b2d83
/url/cache/mortenlp/http/com/google/maps/ea5077e1f3ff83dae02061c53da9a0cc
/url/cache/mortenlp/http/com/google/maps/ed39291523b3b71d4e52c578216d1285
/url/cache/mortenlp/http/com/google/maps/f6c2455046ac617370f7c6e2fdd9d07f
/url/cache/mortenlp/http/com/google/maps/f8d4265d535c5e1882dd6d6d84e38b9d
/url/cache/mortenlp/http/com/google/maps/f9a8dbf1e9093500a0f0b3592dbd3863
/url/cache/mortenlp/http/com/google/maps/fcbd3ca10a8c41762a0c8c8fbcb1a994
emacs.d/url/cache
/url/cookies
/eshell/history
/eshell/lastdir
/emacs.d/.org-id-locations
/emacs.d/eshell/history
/emacs.d/eshell/lastdir
/emacs.d/url/cookies
/emacs.d/tramp
/emacs.d/oauth2.plstore
/emacs.d/plugins/org-*