[submodule "emacs.d/site-lisp/multiple-cursors"]
	path = emacs.d/site-lisp/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
[submodule "emacs.d/site-lisp/vimgolf"]
	path = emacs.d/site-lisp/vimgolf
	url = https://github.com/timvisher/vimgolf.git
[submodule "emacs.d/site-lisp/js2-mode"]
	path = emacs.d/site-lisp/js2-mode
	url = https://github.com/mooz/js2-mode.git
[submodule "emacs.d/site-lisp/magit"]
	path = emacs.d/site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "emacs.d/site-lisp/find-file-in-project"]
	path = emacs.d/site-lisp/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project.git
[submodule "emacs.d/site-lisp/projectile"]
	path = emacs.d/site-lisp/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "emacs.d/site-lisp/ace-jump-mode"]
	path = emacs.d/site-lisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs.d/site-lisp/browse-kill-ring"]
	path = emacs.d/site-lisp/browse-kill-ring
	url = https://github.com/browse-kill-ring/browse-kill-ring.git
[submodule "emacs.d/site-lisp/clojure-mode"]
	path = emacs.d/site-lisp/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule "emacs.d/site-lisp/dired-details"]
	path = emacs.d/site-lisp/dired-details
	url = https://github.com/emacsmirror/dired-details.git
[submodule "emacs.d/site-lisp/epresent"]
	path = emacs.d/site-lisp/epresent
	url = https://github.com/technomancy/epresent.git
[submodule "emacs.d/site-lisp/evil-numbers"]
	path = emacs.d/site-lisp/evil-numbers
	url = https://github.com/cofi/evil-numbers.git
[submodule "emacs.d/site-lisp/ido-ubiquitous"]
	path = emacs.d/site-lisp/ido-ubiquitous
	url = https://github.com/technomancy/ido-ubiquitous.git
[submodule "emacs.d/site-lisp/markdown-mode"]
	path = emacs.d/site-lisp/markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
[submodule "emacs.d/site-lisp/smex"]
	path = emacs.d/site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "emacs.d/site-lisp/ess"]
	path = emacs.d/site-lisp/ess
	url = https://github.com/emacs-ess/ESS.git
[submodule "emacs.d/site-lisp/wgrep"]
	path = emacs.d/site-lisp/wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "emacs.d/site-lisp/python_el"]
	path = emacs.d/site-lisp/python_el
	url = https://github.com/fgallina/python.el.git
[submodule "emacs.d/site-lisp/screencast"]
	path = emacs.d/site-lisp/screencast
	url = https://github.com/rpdillon/screencast.git
[submodule "emacs.d/site-lisp/mark-multiple"]
	path = emacs.d/site-lisp/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "emacs.d/site-lisp/s.el"]
	path = emacs.d/site-lisp/s.el
	url = https://github.com/magnars/s.el.git
[submodule "emacs.d/site-lisp/project-persist"]
	path = emacs.d/site-lisp/project-persist
	url = https://github.com/rdallasgray/project-persist.git
